<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="leaphand_xarm7">
  
  <!-- Include xarm device with 7 DOF -->
  <xacro:include filename="$(find xarm_description)/urdf/xarm_device.urdf.xacro">
    <xacro:arg name="robot_type" value="xarm"/>
    <xacro:arg name="dof" value="7"/>
  </xacro:include>
  
  <!-- Include leap hand URDF directly with absolute path for testing -->
  <xacro:include filename="$(find leap_hand_xarm)/urdf/leap_hand_right.urdf"/>

  <!-- Connect leap hand to xarm end effector (link_eef) -->
  <joint name="hand_mount" type="fixed">
    <parent link="link_eef"/>
    <child link="leap_hand_base"/>
    <origin xyz="-0.025 0 0" rpy="0 -1.57079 3.14159"/>
  </joint>

</robot>