<?xml version="1.0"?>
<launch>
  <arg name="limited" default="true" />
  <arg name="joint_state_source" default="[/joint_states]" />
  <arg name="joint_state_publisher_gui" default="true" />
  <arg name="config" default="true" />

  <!-- Load robot description -->
  <param name="robot_description" command="$(find xacro)/xacro 
    '$(find leap_hand_xarm)/urdf/leaphand_xarm7.urdf.xacro'
    limited:=$(arg limited)" />

  <!-- Joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg joint_state_publisher_gui)"/>
    <rosparam param="source_list" subst_value="True">$(arg joint_state_source)</rosparam>
  </node>

  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- RViz -->
  <arg unless="$(arg config)" name="command_args" value="" />
  <arg if="$(arg config)" name="command_args" value="-d $(find xarm_description)/launch/display.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="$(arg command_args)" output="screen"/>

</launch>